<div>
  <h1>Skriv inn eller skann strekkode</h1>
  <form class="search-form" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)" id="searchForm">
    <input type="text" class="fortextbox" name="barcode" placeholder="barcode" formControlName="barcode" />
    <br /><br />


    <button mat-flat-button color="primary" class="forsubmit" description="Search">Search
    </button>
  </form>
</div>

<div class="results" *ngIf="barcode && !errorMessage">
  <p>Barcode entered: {{barcode}} <br />
    Number of items wanted by repository: {{copiesWanted}}<br /><br>

    <span class="description">Number of copies wanted may take a few seconds to update </span>
  </p>





</div>
<span class="error" *ngIf="errorMessage && barcode">
  <p>{{errorMessage}}</p>
</span>

<span class="barcodeempty" *ngIf="!barcode">
  You must enter a barcode</span>



<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>